body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* ct-web-inbox {
  font-family: monospace;
  --inbox-width:400px;
  --inbox-height:100%; 
  --inbox-top:0px;
  --inbox-left:unset;
  --inbox-right:0px;
  --inbox-bottom:unset;
} */