body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ct-web-inbox::part(categoriesWrapper) {
  border-bottom: 1px solid gray
}

ct-web-inbox::part(emptyInboxMsg) {
  color:white
}

/* ct-web-inbox::part(header) {
  display:none
}

ct-web-inbox::part(inboxCard) {
  height:450px
} */
ct-web-inbox::part(category) {
  border-radius: 0px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
}
ct-web-inbox::part(ct-inbox-message) {
  background-color:white;
  border-radius: 6px
}